<% provide(:title, "Edit user" ) %>

  <div class="form">
    
    <div class="top">
    　<h1>ユーザー編集</h1>
    </div>
      
    <div class="form_containar">
      <%= form_with(model: @user, url:"/users/#{@user.id}/update",  local: true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
        <%= f.label :"ユーザー名" %>
        <%= f.text_field :name %>
 
        <%= f.label :"Eメール" %>
        <%= f.email_field :email %>
 
        <%= f.label :"パスワード" %>
        <%= f.password_field :password %>
      
        <%= f.label :"パスワード確認" %>
        <%= f.password_field :password_confirmation %>

      <div class="gravatar_edit">
       <%= gravatar_for @user %>
       <a href="https://gravatar.com/emails" target="_blank">画像を選択</a>
      </div>
      
        <%= f.submit "更新", class: "user-edit-btn btn-primary" %>
     <% end %>
   </div>
  
    <div class="return-top">
      <%= link_to "トップ画面に戻る", root_url %>
    </div>
  </div>