

<% provide(:title, 'Sign up') %>

<div class="new">
  
  <div class="post_top">
    <h1>Sign up</h1>
  </div>

  <div class="form_containar">
      <%= form_with(model: @user, url:users_create_path, local: true) do |f| %>
      <%= render 'shared/error_messages' %>
      
        <%= f.label :name %>
        <%= f.text_field :name %>
 
        <%= f.label :email %>
        <%= f.email_field :email %>
 
        <%= f.label :password %>
        <%= f.password_field :password %>
      
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation %>

        <%= f.submit "Register", class: "btn btn-primary" %>
        
      <% end %>
  </div>
  
  <div class="return-top">
    <%= link_to "トップ画面に戻る", root_url %>
  </div>
</div>
  