

<% provide(:title, 'Sign up') %>

<div class="form">
  
  <div class="top">
    <h1>新規登録</h1>
  </div>

  <div class="form_containar">
      <%= form_with(model: @user, url:users_create_path, local: true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
        <%= f.label :"ユーザー名"%>
        <%= f.text_field :name %>
 
        <%= f.label :"E-mail" %>
        <%= f.email_field :email %>
 
        <%= f.label :"パスワード" %>
        <%= f.password_field :password %>
      
        <%= f.label :password_confirmation, "確認" %>
        <%= f.password_field :password_confirmation %>

        <%= f.submit "登録", class: "sign-up-btn btn-primary" %>
        
      <% end %>
  </div>
  
  <div class="return-top">
    <%= link_to "トップ画面に戻る", root_url %>
  </div>
</div>
  