<% provide(:title, 'Post new') %>

  <div class="form">
    
    <div class="top">
       <h1>新規投稿</h1>
    </div>

     <div class="form_containar">
        <%= form_with(model: @post, url:posts_create_path, local: true) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
      
        <%= f.label :"場所" %>
        <%= f.text_field :place %>
 
       <div class="field">   
        <%= f.label :"感想" %>
        <%= f.text_area :content %>
       </div>

       <span class="image">
         <%= f.file_field :image %>
       </span>
    
        <%= f.submit "投稿", class: "new-post-btn btn-primary" %>
      <% end %>
  
      <div class="return-top">
        <%= link_to "トップ画面に戻る", root_url %>
      </div>
    </div>
  </div>
  