<% provide(:title, 'Post detail') %>

    <div class="post-top">
      <h1>投稿詳細</h1>
    </div>
  
    <div class = 'post-show'>
    
      <div class="show-place">
        <span><%= @post.place %></span> 
      </div>
    
      <div class="show-content">
        <span><%= simple_format(@post.content) %></span> 
      </div>
    
      <div class="show-img">
        <%= image_tag @post.display_image if @post.image.attached? %>
      </div>
    
      <div class="show-user">
        <span class="user-name"><%= @post.user.name %>さんの投稿</span>
      </div>
      
      
      <div class="flex flex-right">
         <% if current_user?(@post.user) %>
         <%= link_to "削除",  "/posts/#{ @post.id }/destroy", method: :delete,
                                            data: { confirm: "本当にこの投稿を削除しますか?" } %>
        <% end %>
      </div>
    
      <div class="return-top">
        <%= link_to "トップ画面に戻る", root_url %>
      </div>
     </div>